body {
    @include text_body;             //incluyo mixin
    background-color: $black;       //color de fondo
    width: 100%;                    //ancho
    height: 100%;                   //alto
    margin: 0;                      //margen
}