.content {
<<<<<<< HEAD
    position: relative;                 //posicion de los elementos: static, relative: (se le da la ubicacion), fixed, absolute
    top: 50%;                           //ubicacion en la pagina
    transform: translateY(-50%);        //aplica una transformacion 2D o 3D, nos permite rotar, escalar, mover etc
}

#section_1{
    @include bg_covertint ($r_deep_blue,$g_deep_blue,$b_deep_blue,$r_light_blue,$g_light_blue,$b_light_blue,$alpha_cover,$cover_picture);   //mixin importado
    height: 100vh;              //altura        -100vh: ocupa el 100% de la pantalla altura
    
=======
    position: relative;
    top: 5%;
    transform: translateY(-5%);
    h1{
        @include headers;
    }
}

#section-1{
    @include bg_covertint ($r_deep_blue,$g_deep_blue,$b_deep_blue,$r_light_blue,$g_light_blue,$b_light_blue,$alpha_cover,$cover_picture);
    height: 100vh;
    color: $pure_white;
    h1{
        margin-bottom: 30px;
    }
    .logo{
        font-size: 50px;
        width: 100%;
        text-align: center;
        color: $pure_white;
        .bold{
            font-weight: $ultra_bold;
        }
        .thin{
            font-weight: $light;
        }
    }
    p{
        margin-top: 20px;
        font-weight: $regular;
        height: 60%;
        text-align: center;
        font-size: 20px;
        @include center-horizontal;
    }
}

#section-2{
	height: 100vh;
	background-color: $almost_white;
	color: $light_blue;

	.content{
		@include center-vertical;
	}

	h1{
		margin-top: 0;
		margin-bottom: 40px;
		font-weight: $regular;
	}

	form{
		.form-element{
			display: block;
			input[type=text]{
				border-style: none;
				background: none;
				outline: none;
				border-bottom: solid 2px darken($almost_white,20%);
				font-size: 50px;
				font-weight: $light;
				font-family: 'Lato', sans-serif;
				width: 60%;
				margin-left: 20%;
				text-align: center;
				margin-top: 15px;
				margin-bottom: 30px;
				color: $light-blue;
				transition: all 0.3s ease 0s;
				padding-bottom: 20px;

				&:focus{
					border-bottom: solid 2px $light_blue;
				}
			}
			button{
				font-size: 50px;
				font-weight: $light;
				font-family: 'Lato', sans-serif;
				//background: none;
				background: $light_blue;
				border: 1px solid $light_blue;
				color: $pure_white;
				width: 60%;
				outline: none;
				margin-left: 20%;
				margin-top: 30px;
				margin-bottom: 30px;
				transition: all 0.3s ease 0s;
				padding: 20px 20px 20px 20px;

				&:hover{
					background: none;
					//background: $light-blue;
					color: $light_blue;
					border: 1px solid $light_blue;
				}
			}
		}
	}
	@include placeholder(darken($almost-white,20%),$light);
}

#section-3{
    @include bg_covertint ($r_deep_blue,$g_deep_blue,$b_deep_blue,$r_light_blue,$g_light_blue,$b_light_blue,$alpha_cover,$price);
	background-color: $light_blue;
	height: 100vh;

	h1{
		color: $pure_white;
		margin-top: 0;
	}

	.pricing-table{
		width: 100%;
		.price{
			img{
				width: 15%;
			}
			h2{
				font-weight: $regular;
			}
			color: $almost_white;
			text-align: center;
			font-size: 30px;
			width: 30%;
			display: inline-block;
			padding: 20px 20px 20px 20px;

			.description{ 
				font-size: 2vh;
			}

			.money{
				font-weight: $bold;
				font-size: 50px;
			}
			&:first-child{
				border-right: solid 1px $pure_white;
				margin-left: 18%;
			}
		}
	}
>>>>>>> ae702d540348b29f35fc4cb754bd765345b1127c
}