@mixin text_body {
    font-family: 'Lato', sans-serif;			//tipo de letra
    font-size: 7px;								//tamaño de letra
    color: $pure_white;
    font-weight: $light;						//grueso de la letra
}

@mixin bg-covertint ($r-from, $g-from, $b-from, $r-to, $g-to, $b-to, $alpha, $imgurl, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
	background: -webkit-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
	background:    -moz-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:      -o-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:         linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
}

@mixin headers {
	font-weight: $light;			//grueso de letra
	font-size: 70px;				//tamaño de letra
	text-align: center;				//justificado del texto: center, left, right, justify
	margin-bottom: 10px;			//establece el espacio requerido en la parte inferior de un elemento
	height: 50%;					//altura
	@include center-horizontal;
}

@mixin center-vertical {
	position: relative;				//ubicacion del elemento
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

@mixin center-horizontal {
	display: block;						//tipo de cuadro de representacion de los elementos: block, inline, 
	margin-left: auto;
	margin-right: auto;
}

@mixin placeholder ($color,$font-weight){
	::-webkit-input-placeholder {
		color: $color;
		font-weight: $font-weight;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: $color;
		font-weight: $font-weight;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: $color;
		font-weight: $font-weight;
	}

	:-ms-input-placeholder {  
		color: $color; 
		font-weight: $font-weight;
	}
}