$deep_blue: #001656;
$r_deep_blue: 0;
$g_deep_blue: 22;
$b_deep_blue: 86;

$light_blue: #4D86FF;
$r_light_blue: 25;
$g_light_blue: 117;
$b_light_blue: 255;

$black: #333333;
$gris: #EAEAEA;
$pure_white: #FFF;
$almost_white: #FAFAFA;

$cover_picture: "./assets/img/cover-picture.png";           //llamada a imagen
$alpha_cover: 0.6;                                          //transparencia

// OPACIDAD DE LAS LETRAS - INICIO
$light: 100%;
$regular: 300;
$semi_bold: 400;
$bold: 700;
$ultra_bold: 900;
// OPACIDAD DE LAS LETRAS - FIN